<% if user_signed_in? %>
<% @a ='(Хэрэглэгчийн эрхээр орсон байна)'%>
<% if current_user.admin?%>
<li><a href="/confs/new">Тэмцээн оруулах</a></li>
<li><%= link_to 'Хэрэглэгчид', users_path %></li>
<% @a='(Та Админ эрхээр орсон байна)' %>
<% else %>
<% end %>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to current_user.name + @a, new_user_session_path %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>